<?xml version="1.0"?>
<!--
/**
 * @author Steven Brendtro
 * @copyright Copyright (c) 2019 Steven Brendtro and IDP (https://goidp.com)
 * @package IDP_CustomApiField
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="IDP_CustomApiField" setup_version="1.0.0">
    </module>
</config>
